@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav .navbar-nav {
  background-color: yellowgreen;
}

header nav ul a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  font-family: cursive;
  padding: 0.5rem;
  margin-left: 2rem;
}

header nav ul a#link__naranja {
  color: #000;
}

header nav ul a#link__naranja:hover {
  color: #ff4500;
}

header nav .header__logo {
  height: 20rem;
  width: auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 5rem;
}

header nav .header__logo img {
  max-width: 100%;
  height: auto;
}

/*.....................TIPOGRAFÍA GENERAL APLICADA EN EL INDEX........................*/
p {
  font: "Indie Flower";
}

a {
  font: "cursive";
}

.portada__titulo {
  text-align: center;
  font-size: 15rem;
  font-style: "Roboto";
  padding-top: 3rem;
  padding-bottom: 5rem;
  color: #221e19;
}

.info__contacto__descripcion {
  font-size: 2rem;
  font-family: "cursive";
  text-align: center;
  padding: 2.5rem;
}

h1 {
  font-family: "Indie Flower";
}

.box {
  font-family: "Indie Flower";
}

.parrafos, .parrafo__descripcion, .parrafo__form__encabezado, .parrafo__form, .parrafo__menu, .parrafo__preguntas__frec__descripcion, .parrafo__historia {
  line-height: 3rem;
  font-size: 2rem;
  font-family: "Indie Flower";
  text-align: center;
  background-color: #ffa500;
  width: 100%;
  margin: auto;
}

.parrafo__descripcion, .parrafo__form__encabezado {
  margin-top: 5rem;
  margin-bottom: 3rem;
  padding: 45px;
}

.subtitulo__principal {
  text-align: center;
  font-size: 5rem;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.subtitulos__especiales {
  font-family: "cursive";
  font-size: 3.5rem;
  text-align: center;
  margin-top: 3rem;
}

.aside__titulo {
  font-family: "Roboto";
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}

.aside__descripcion {
  font-family: "Indie Flower";
  font-size: 3rem;
  text-align: center;
  line-height: 3.5rem;
  margin-bottom: 3rem;
  margin-left: 3.2rem;
}

.parrafo__form {
  font-family: "Indie Flower";
  background-color: #fff;
}

/*.....................TIPOGRAFÍA NUESTRO MENU........................*/
.parrafo__menu {
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 5rem;
  padding: 45px;
  font-size: 2rem;
}

/*.............. TIPOGRAFÍA PREGUNTAS FRECUENTES................*/
.parrafo__preguntas__frec__descripcion {
  width: 100%;
  height: auto;
  margin-top: 5rem;
  margin-left: 1%;
  padding: 45px;
  font-size: 2rem;
}

.fuente__preguntas {
  color: #000;
  font-family: "Indie Flower";
  font-size: 3rem;
}

.parrafo__respuestas {
  line-height: 3rem;
  font-size: 2rem;
  font-family: "Indie Flower";
  width: 100%;
  margin-top: 2rem;
}

/*.................... TIPOGRAFÍA NOSOTROS.................................*/
.subtitulo__historia {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.parrafo__historia {
  height: auto;
  padding: 45px;
}

.bg--orange {
  background-color: #ffa500;
}

.bg--darkOrange {
  background-color: #ff4500;
}

.bg--brown {
  background-color: #523024;
}

/*--------------------------------------------INDEX: PORTADA-----------------------------------------------------*/
.row__portada__index {
  max-width: 100%;
  margin: auto;
}

.portada__container, .portada__index, .portada__menu, .portada__preguntas, .portada__nosotros, .portada__contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
  background-size: cover;
  background-color: orange;
  height: 500px;
  font-size: 50px;
  font-weight: 30px;
  margin-bottom: 5rem;
}

.portada__index {
  background-image: url("../images/small-images/portada_index.jpg");
}

.portada__btn__link__al__menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
}

a#link__al__menu__especial {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.btn__menu {
  margin: auto;
}

/*............................ANIMACIÓN TÍTULOS PORTADA INDEX........................*/
.banner__text {
  -webkit-transform: translate(-5%, -5%);
          transform: translate(-5%, -5%);
}

.banner__text h1 {
  text-align: center;
  font-size: 10rem;
}

/*..........................CLASE BOX PARA ANIMACION DE PORTADA DEL INDEX..................*/
.box {
  font-size: 5rem;
  opacity: 0;
  width: 100%;
  text-align: center;
  position: absolute;
}

.b1 {
  -webkit-animation: animUno 15s infinite;
          animation: animUno 15s infinite;
}

.b2 {
  -webkit-animation: animDos 15s infinite;
          animation: animDos 15s infinite;
}

.b3 {
  -webkit-animation: animTres 15s infinite;
          animation: animTres 15s infinite;
}

.b4 {
  -webkit-animation: animCuatro 15s infinite;
          animation: animCuatro 15s infinite;
}

@-webkit-keyframes animUno {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}

@keyframes animUno {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}

@-webkit-keyframes animDos {
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@keyframes animDos {
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@-webkit-keyframes animTres {
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
}

@keyframes animTres {
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
}

@-webkit-keyframes animCuatro {
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
}

@keyframes animCuatro {
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
}

@-webkit-keyframes animCinco {
  80% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animCinco {
  80% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*------------------------INDEX: SOLUCION DE LA EMPRESA----------------*/
.propuesta__container__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 100%;
}

.propuesta__container__grid .solucion__image__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  margin-left: 1rem;
}

.propuesta__container__grid .solucion__image__container img {
  height: auto;
  width: 100%;
}

.propuesta__container__grid .solucion__descripcion__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 50%;
}

.propuesta__container__grid .solucion__descripcion__container .solucion__descripcion {
  padding: 3.5rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-left: 2.5rem;
  margin-right: 2rem;
  line-height: 3rem;
  font-size: 2rem;
  font-family: "Indie Flower";
  text-align: center;
  background-color: #ffa500;
}

.propuesta__container__grid .solucion__descripcion__container .aside {
  background-color: #ff4500;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-left: 2.5rem;
  padding: 2rem;
}

.propuesta__container__grid .solucion__descripcion__container .aside .aside__descripcion {
  font-family: "Indie Flower";
  font-size: 3rem;
  text-align: center;
  line-height: 3.5rem;
  margin-bottom: 3rem;
  margin-left: 3.2rem;
}

/*------------------------INDEX: MAIN (VALORES DE LA EMPRESA)----------------*/
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30rem;
}

.grid__main__container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "comidaUno comidaDos comidaTres" "cualidadUno cualidadDos cualidadTres" "textoUno textoDos textoTres";
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  grid-gap: 20px;
  max-width: 1450px;
}

.grid__main__container .articulo__en__columnas__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid__main__container .articulo__en__columnas__container .img__redonda__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid__main__container .articulo__en__columnas__container .img__redonda__container .img__redonda {
  height: auto;
  max-width: 100%;
  border-radius: 80%;
  margin-bottom: 4rem;
}

.grid__main__container .articulo__en__columnas__container .texto__en__columnas__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.comidaUno {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: comidaUno;
  grid-column: auto;
  grid-row: auto;
}

.comidaDos {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: comidaDos;
  grid-column: auto;
  grid-row: auto;
}

.comidaTres {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: comidaTres;
  grid-column: auto;
  grid-row: auto;
}

/*...............................INDEX: FORMULARIO DE CONTACTO...........................*/
.contacto__container {
  text-align: center;
  margin: 50px;
  padding: 30px;
  border: solid 1px #000;
  background-color: #ff4500;
  border-radius: 4px;
}

.contacto__container form .campo {
  display: block;
  width: 50%;
  padding: 10px;
  margin: 10px auto;
  font-size: 2.5rem;
}

.contacto__container form .campo#consulta {
  height: 30rem;
}

.modal-header {
  background-color: orange;
  border-bottom: none;
}

.modal-body {
  font-size: 3rem;
  font-family: "Indie Flower";
  text-align: center;
  color: #000;
  background-color: #ffa500;
}

.modal-footer {
  background-color: #ffa500;
  border-top: none;
}

/*............................... INDEX: MEDIOS DE PAGO...........................*/
.pagos__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-position: center;
  background-color: #ffa500;
  margin-top: 1rem;
  margin-bottom: 5rem;
  padding: 3%;
}

.pagos__container img {
  height: auto;
  max-width: 90%;
}

.pagos__container img .img-fluid {
  height: 100%;
  width: auto;
  margin-top: 25;
  margin-bottom: 0.5%;
}

/*............................... INDEX: WHATSAPP Y FLECHA PARA SUBIR...........................*/
.iconos__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #ffa500;
  margin: auto;
}

.iconos__container .iconos__wspYFlecha {
  max-width: 100px;
  height: 50%;
}

/*.....................................MEDIAS QUERIES INDEX : CELULARES...............*/
@media only screen and (max-width: 599px) {
  header nav .container-fluid {
    background-color: greenyellow;
  }
  header nav .container-fluid header nav li a {
    display: none;
  }
  header nav .container-fluid .navbar-toggler-icon {
    padding: 40px;
  }
  header nav .container-fluid .header__nav--carrito {
    display: none;
  }
  .portada__titulo {
    /*CLASE NO USADA EN EL INDEX PERO SÍ EN LAS OTRAS PORTADAS */
    font-size: 7rem;
  }
  .portada__index {
    height: 100%;
  }
  .banner__text h1 {
    font-size: 4.5rem;
    text-align: center;
    margin-top: 5rem;
    margin-left: 3.5rem;
    color: #000;
  }
  .portada__btn__link__al__menu__container {
    height: auto;
  }
  .portada__btn__link__al__menu__container .btn__menu {
    max-width: 200px;
    margin-left: 2rem;
    margin-top: 5rem;
  }
  .info__contacto__descripcion,
  .subtitulo__principal,
  .propuesta__container__grid,
  .animUno,
  .animDos,
  .animTres,
  .animCuatro,
  .subtitulo__principal__uno,
  .solucion__image__container,
  .solucion__descripcion,
  .aside {
    display: none;
  }
  .subtitulo__principal {
    font-size: 5rem;
  }
  .grid__main__container {
    display: -ms-grid;
    display: grid;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "comidaUno" "comidaDos" "comidaTres";
    max-width: 599px;
    margin-top: 5rem;
  }
  .subtitulos__especiales {
    font-size: 5rem;
  }
  .parrafo__descripcion, .parrafo__form__encabezado {
    font-size: 3rem;
  }
  .btn__menu {
    font-size: 3rem;
  }
  .btn__menu#btn__menu__main {
    width: 50%;
    height: 15rem;
  }
  .contacto__container {
    margin: 5%;
  }
  .contacto__container .parrafo__form__encabezado {
    display: none;
  }
  .contacto__container form .campo {
    width: 100%;
    font-size: 1.5rem;
  }
  .contacto__container form textarea {
    max-height: 320px;
  }
  .pagos__container {
    margin-top: 5rem;
  }
  .container__btn__wsp,
  .btn__wsp {
    display: none;
  }
}

/*.....................................MEDIAS QUERIES INDEX: TABLETS...............*/
@media only screen and (min-width: 768px) {
  nav {
    width: 100%;
  }
  nav .navbar-toggler-icon {
    background-color: #ffa500;
    padding: 2.3rem;
  }
  .banner__text h1 {
    font-size: 8rem;
    color: #000;
  }
  .propuesta__container__grid {
    -ms-grid-columns: 3, 1fr;
        grid-template-columns: 3, 1fr;
    grid-area: "solucion__descripcion__grid" "aside__grid";
  }
  .pagos__container .container {
    width: auto;
  }
}

/*...........................................INICIO PORTADA PAGINA MENU..............................*/
.portada__menu {
  background-image: url("../images/viandas_calabaza.jpg");
}

/*..................................... .....PAGINA NUESTRO MENÚ........................................................*/
.articulo__menu__container {
  margin-right: 4rem;
  margin-left: 2rem;
}

main #galeria img {
  width: 100%;
  height: 250px;
}

main .card .platos {
  height: 240px;
  width: 100%;
  margin-top: 1rem;
}

main .card .card__img__platos:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main .card-title {
  text-align: center;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*..............................................NUESTRO MENU: MEDIAS QUERIES...................*/
@media only screen and (max-width: 599px) {
  .portada__menu {
    height: 100%;
  }
  .parrafo__menu {
    font-size: 3rem;
  }
  .btn__comprar {
    width: 100%;
    font-size: 3rem;
  }
}

/*...........................................PORTADA PAGINA PREGUNTAS FREC..............................*/
.portada__preguntas {
  background-image: url("../images/viandas_empresariales.jpg");
}

/*.....................................PAGINA PREGUNTAS FRECUENTES........................................................*/
.funcionamiento__parent__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  margin-top: 3%;
}

.funcionamiento__container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "subtitulo__principal" "imgUno imgDos imgTres" "tituloUno tituloDos tituloTres" "descripUno descripDos descripTres";
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  grid-gap: 20px;
}

.funcionamiento__articulo__container {
  overflow: hidden;
}

.funcionamiento__articulo__container .img__propiedades {
  height: 300px;
  width: 100%;
  margin-top: 2px;
}

.funcionamiento__articulo__container .imgUno {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: imgUno;
  grid-row: auto;
  grid-column: auto;
}

.funcionamiento__articulo__container .imgDos {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: imgDos;
  grid-row: auto;
  grid-column: auto;
}

.funcionamiento__articulo__container .imgTres {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: imgTres;
  grid-row: auto;
  grid-column: auto;
}

.funcionamiento__articulo__container .card-title .tituloUno {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: tituloUno;
  grid-row: auto;
  grid-column: auto;
}

.funcionamiento__articulo__container .card-title .tituloDos {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: tituloDos;
  grid-row: auto;
  grid-column: auto;
}

.funcionamiento__articulo__container .card-title .tituloTres {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: tituloTres;
  grid-row: auto;
  grid-column: auto;
}

.funcionamiento__articulo__container .card-text .descripUno {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: descripUno;
  grid-row: auto;
  grid-column: auto;
}

.funcionamiento__articulo__container .card-text .descripDos {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: descripDos;
  grid-row: auto;
  grid-column: auto;
}

.funcionamiento__articulo__container .card-text .descripTres {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: descripTres;
  grid-row: auto;
  grid-column: auto;
}

/*......................  CONTAINER PREGUNTAS..................................*/
.preguntas__container__principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.preguntas__container__principal .preguntas__elementos {
  padding: 0;
  background-color: #ff4500;
  padding: 60px 55px;
  margin-bottom: 5rem;
}

.preguntas__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 80px;
  max-width: 1800px;
  background-color: #ffa500;
  padding: 5rem;
}

.preguntas__container .preguntas__articulo {
  margin-left: 10px;
}

.preguntas__container .preguntas__articulo h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*...................... PREGUNTAS FRECUENTES: MEDIAS QUERIES CELULARES..................................*/
@media only screen and (max-width: 599px) {
  .portada__preguntas {
    height: 100%;
  }
  main .funcionamiento__container {
    display: -ms-grid;
    display: grid;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "imgUno" "imgDos" "imgTres";
    margin-bottom: 3rem;
  }
  main .preguntas__container {
    display: -ms-grid;
    display: grid;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/*...........................................PORTADA PAGINA NOSOTROS..............................*/
.portada__nosotros {
  background-image: url("../images/plato_7.jpg");
}

/*............................................PAGINA NOSOTROS........................................................*/
.parent__container__nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px;
}

/*.................. NOSOTROS: INICIO PRIMER CONTAINER CON IMG Y TEXTO HISTORIA DE LA EMPRESA........................*/
.historia__container__uno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.historia__container__subtitulo__uno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  margin-left: 15%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.historia__container__texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #523024;
  max-width: 50%;
}

.parrafo__historia {
  margin: auto;
}

.img__historia__container__uno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #ff4500;
}

.img__historia {
  width: 100%;
  height: auto;
}

/*..................NOSOTROS: INICIO SEGUNDO CONTAINER CON IMG Y TEXTO HISTORIA DE LA EMPRESA........................*/
.historia__container__dos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.historia__container__subtitulo__dos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 20%;
}

.img__historia__container__dos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #ff4500;
}

/*..................NOSOTROS: INICIO TERCER CONTAINER CON IMG Y TEXTO HISTORIA DE LA EMPRESA........................*/
.historia__container__subtitulo__tres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.historia__container__tres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.img__historia__container__tres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #ff4500;
}

.historia__container__tres__texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #523024;
  max-width: 50%;
}

/*..................................... NOSOTROS: MEDIAS QUERIES CELULARES..............................................*/
@media only screen and (max-width: 599px) {
  .portada__nosotros {
    height: 100%;
  }
  .historia__container__uno {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .historia__container__texto {
    max-width: 100%;
  }
  .historia__container__texto .historia__container__subtitulo__uno {
    margin-bottom: 3rem;
  }
  .img__historia__container__uno {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .historia__container__dos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .historia__container__dos .historia__container__subtitulo__dos {
    margin-bottom: 3rem;
  }
  .historia__container__dos .img__historia__container__dos {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .historia__container__tres {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .historia__container__tres .img__historia__container__tres {
    margin-bottom: 3rem;
  }
  .historia__container__tres__texto {
    max-width: 100%;
  }
  .parrafo__historia {
    font-size: 3rem;
  }
}

/*...........................................PORTADA PAGINA CONTACTO..............................*/
.portada__contacto {
  background-image: url("../images/small-images/viandas_varias.jpg");
}

/*..................................... PAGINA CONTACTO........................................................*/
.redes__sociales__logos__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.logo__instagram, .redes__sociales__contenedor__padre .redes__sociales__logos__container__logos .logo__instagram__main {
  height: 5rem;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.logo__facebook, .redes__sociales__contenedor__padre .redes__sociales__logos__container__logos .logo__facebook__main {
  height: 5rem;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

form .campo {
  display: block;
  width: 50%;
  padding: 10px;
  margin: 10px auto;
  font-size: 2.5rem;
}

form .campo#mensaje {
  height: 30rem;
}

.mapa__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 300%;
}

.mapa {
  width: 100%;
  margin: 50px;
}

.redes__sociales__contenedor__padre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.redes__sociales__contenedor__padre .redes__sociales__logos__container__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4rem;
}

.redes__sociales__contenedor__padre .redes__sociales__logos__container__logos .logo__instagram__main {
  height: 10rem;
}

.redes__sociales__contenedor__padre .redes__sociales__logos__container__logos .logo__facebook__main {
  height: 10rem;
}

.redes__sociales__contenedor__padre .redes__sociales__contenedor__padre div {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*..................................... CONTACTO: MEDIAS QUERIES CELULARES..........................................*/
@media only screen and (max-width: 599px) {
  .portada__contacto {
    height: 100%;
  }
  .parrafo__form {
    display: none;
  }
  .campo {
    width: 100%;
  }
  .btn__seguir {
    font-size: 2rem;
    width: 30%;
  }
}

/*......................WHATSAPP ANIMACIÓN...................*/
.container__btn__wsp {
  background-color: #008000;
  border: 1px solid #fff;
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  bottom: 20px;
  right: 25px;
  padding: 25px;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  -webkit-animation: anim-wsp 1.2s infinite;
          animation: anim-wsp 1.2s infinite;
}

.container__btn__wsp:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-wsp {
  width: 50px;
  -webkit-transition: ease 1s;
  transition: ease 1s;
}

@-webkit-keyframes anim-wsp {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
  }
  100% {
    -webkit-box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }
}

@keyframes anim-wsp {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
  }
  100% {
    -webkit-box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }
}

footer {
  background-color: #523024;
  color: #fff;
  padding: 1rem;
}

.footer__container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "tarjeta nav__footer newsletter btn";
  -ms-grid-columns: 30% 30% 30% 30%;
      grid-template-columns: 30% 30% 30% 30%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  font-size: 1.5rem;
}

.footer__tarjeta {
  font-size: 1.5rem;
  font-family: cursive;
  text-align: left;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: tarjeta;
  grid-column: auto;
  grid-row: auto;
}

.footer__tarjeta--logo {
  max-height: 10rem;
  width: auto;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: auto;
  grid-row: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: nav__footer;
  margin-top: 2rem;
  margin-right: 5rem;
}

.footer__nav a {
  text-align: center;
  font-size: 2rem;
  font-family: cursive;
  color: #fff;
  text-decoration: none;
}

.footer__nav a#link__naranja__footer:hover {
  color: #ff4500;
}

.footer__nav li {
  font-size: 1rem;
}

.btn__footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-column: auto;
  grid-row: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  font-size: 3rem;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: newsletter;
}

.newsletter__titulo {
  margin-bottom: 2rem;
  font-family: "cursive";
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newsletter__footer__input {
  font-family: "Indie Flower";
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.modal-header {
  background-color: orange;
  border-bottom: none;
}

.modal-body {
  font-size: 3rem;
  font-family: "Indie Flower";
  text-align: center;
  color: #000;
  background-color: #ffa500;
}

.modal-footer {
  background-color: #ffa500;
  border-top: none;
}

.footer__redes__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__redes__logos .logo__instagram__footer {
  height: 5rem;
  margin-right: 2rem;
  margin-top: 2rem;
}

.footer__redes__logos .logo__fb__footer {
  height: 5rem;
  margin-top: 2rem;
}

/*.....................................MEDIAS QUERIES INDEX: CELULARES...............*/
@media only screen and (max-width: 599px) {
  .footer__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "tarjeta__contacto" "footer__logo";
  }
  .tarjeta__contacto {
    font-size: 2rem;
  }
  .footer__logo {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: footer__logo;
    grid-column: auto;
    grid-row: auto;
  }
  .footer__nav,
  .newsletter__titulo,
  .newsletter__footer__input,
  .logo__instagram__footer,
  .logo__fb__footer,
  .btn__enviar__footer,
  .footer__redes__logos {
    display: none;
  }
}

/*...........................................BOTONES ESTILOS..............................*/
.btn__base, .btn__menu, #btn__menu__main, #btn-link-preguntas, .btn__comprar, .btn__seguir, .btn__enviar__footer {
  font-family: "Roboto";
  color: #fff;
  background-color: #3a3838;
}

.btn__menu {
  width: 500px;
  height: 100px;
  margin-left: 5rem;
  font-size: 3rem;
}

#btn__menu__main {
  width: 30%;
  padding: 5rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  margin-left: 35%;
}

#btn-link-preguntas {
  width: 230px;
  height: 50px;
  font-size: 2rem;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.btn__form {
  padding: 2rem;
  color: #fff;
  background-color: #2c2727;
  padding: 10px;
  cursor: pointer;
  font-size: 2.5rem;
}

.btn__comprar {
  width: 100%;
  height: 6.5rem;
  font-size: 3rem;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.btn-secondary {
  background-color: #2c2727;
}

.btn__seguir {
  width: 20%;
  height: 50%;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3%;
  padding: 1.5rem;
}

.btn__enviar__footer {
  width: 55%;
  height: 20%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  padding: 1.5rem;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: btn;
  margin-left: 5rem;
  grid-column: auto;
  grid-row: auto;
}
/*# sourceMappingURL=main.css.map */